RendererBackend = Direct3D11
//RendererBackend = Direct3D12
//RendererBackend = Noop
//RendererBackend = Vulkan

//SimulationVSync = True
//SimulationTripleBuffering = True
//UseShaderCache = False
//RendererReportDebugToLog = True

//SoundSystem = Null
SoundMaxReal2DChannels = 32
SoundMaxReal3DChannels = 100

//compile Project at start
//ScriptingCompileProjectSolutionAtStartup = False

AutoUnloadGpuResourcesNotUsedForLongTimeInSecondsInEditor = 300
AutoUnloadGpuResourcesNotUsedForLongTimeInSecondsInSimulation = 300

// The list of auto load assemblies. The developer can add the code to execute after loading the assembly by means making a class based on NeoAxis.AssemblyUtils.AssemblyRegistration inside the assembly.
AutoLoadAssembly { Name = NeoAxis.CoreExtension.dll }
AutoLoadAssembly { Name = NeoAxis.Addon.*.dll }

//already loaded
//AutoLoadAssembly { Name = Project.dll }

DisableAssemblyRegistration
{
	// internally referenced
	Assembly { Name = RoslynPad.Common }
	Assembly { Name = NuGet.Versioning }
	Assembly { Name = NuGet.Protocol.Core.Types }
	Assembly { Name = NuGet.Configuration }
	Assembly { Name = NuGet.Common }
	Assembly { Name = NuGet.Packaging }
	Assembly { Name = NuGet.Packaging.Core }
	Assembly { Name = NuGet.Packaging.Core.Types }
	Assembly { Name = NuGet.Frameworks }
	Assembly { Name = NuGet.Protocol }
	Assembly { Name = Microsoft.CodeAnalysis.Workspaces }
	Assembly { Name = Microsoft.CodeAnalysis }
	Assembly { Name = Roslyn.Services.Editor.UnitTests }
	Assembly { Name = Microsoft.CodeAnalysis.Features }
	Assembly { Name = Microsoft.CodeAnalysis.Scripting }
	Assembly { Name = Microsoft.CodeAnalysis.CSharp }
	Assembly { Name = ICSharpCode.AvalonEdit }
	Assembly { Name = RoslynPad.Editor.Windows }
	Assembly { Name = RoslynPad.Roslyn }
	
	// disabled, but can be useful
	Assembly { Name = System.Windows.Forms }
	Assembly { Name = System.Security }
	Assembly { Name = System.Design }
	Assembly { Name = System.Web }
	Assembly { Name = System.Transactions }
	Assembly { Name = System.EnterpriseServices }
	Assembly { Name = System.Web.ApplicationServices }
	Assembly { Name = System.Web.Services }
	Assembly { Name = System.Drawing.Design }
	Assembly { Name = System.Reflection.Metadata }
	Assembly { Name = System.Windows.Input.Manipulations }
	Assembly { Name = UIAutomationTypes }
	Assembly { Name = PresentationFramework }
	Assembly { Name = ReachFramework }
	Assembly { Name = System.Printing }	
	Assembly { Name = System.Xml }
	Assembly { Name = System.Xml.Linq }
	Assembly { Name = System.Net.Http }
	Assembly { Name = System.Configuration }
	Assembly { Name = WindowsBase }
	Assembly { Name = System.Xaml }
	Assembly { Name = PresentationCore }
	Assembly { Name = System.Security.Cryptography.Primitives }
	Assembly { Name = System.Net.Primitives }
	Assembly { Name = System.Net.Requests }
	Assembly { Name = System.Net.WebClient }
	Assembly { Name = System.Net.WebHeaderCollection }
	Assembly { Name = System.Security.Principal }
	Assembly { Name = System.Security.Cryptography.X509Certificates }
	Assembly { Name = System.Net.Security }
	Assembly { Name = System.Security.Cryptography.Encoding }
	Assembly { Name = System.Text.RegularExpressions }
	Assembly { Name = System.IO.FileSystem }
	Assembly { Name = System.IO.FileSystem.Watcher }
	Assembly { Name = System.Private.Uri }
	Assembly { Name = System.Private.Xml }
	Assembly { Name = System.ComponentModel.EventBasedAsync }
	Assembly { Name = Microsoft.CodeAnalysis.CSharp.Features }
	Assembly { Name = RoslynPad.Roslyn.Windows }
	Assembly { Name = System.Reactive.Linq }
	Assembly { Name = System.Reactive.Interfaces }
	Assembly { Name = System.Linq.Expressions }
	Assembly { Name = System.Reactive.Core }

	// Android
	Assembly
	{
		Platform = Android
		Name = Mono.Android
	}
	Assembly { Name = Java.Interop }
	Assembly
	{
		Platform = Android
		Name = System.Core
	}
	Assembly
	{
		Platform = Android
		Name = System.Windows.Forms
	}

	Assembly { Name = NeoAxis.Stubs }

}

DisableNamespaceRegistration
{
	Namespace { Name = Microsoft.Win32 }
	Namespace { Name = Microsoft.Win32.SafeHandles }
	Namespace { Name = Mono }
	Namespace { Name = System.Deployment.Internal }
	Namespace { Name = System.Configuration.Assemblies }
	Namespace { Name = System.Resources }
	Namespace { Name = System.IO.IsolatedStorage }
	Namespace { Name = System.Security }
	Namespace { Name = System.Security.Policy }
	Namespace { Name = System.Security.Permissions }
	Namespace { Name = System.Security.AccessControl }
	Namespace { Name = System.Security.Principal }
	Namespace { Name = System.Security.Claims }
	Namespace { Name = System.Security.Cryptography }
	Namespace { Name = System.Security.Cryptography.X509Certificates }
	Namespace { Name = System.Threading }
	Namespace { Name = System.Threading.Tasks }
	Namespace { Name = System.Threading.Tasks.Sources }
	Namespace { Name = System.Runtime }
	Namespace { Name = System.Runtime.Hosting }
	Namespace { Name = System.Runtime.Versioning }
	Namespace { Name = System.Runtime.Serialization }
	Namespace { Name = System.Runtime.Serialization.Formatters }
	Namespace { Name = System.Runtime.Serialization.Formatters.Binary }
	Namespace { Name = System.Runtime.Remoting }
	Namespace { Name = System.Runtime.Remoting.Services }
	Namespace { Name = System.Runtime.Remoting.Proxies }
	Namespace { Name = System.Runtime.Remoting.Lifetime }
	Namespace { Name = System.Runtime.Remoting.Contexts }
	Namespace { Name = System.Runtime.Remoting.Channels }
	Namespace { Name = System.Runtime.Remoting.Activation }
	Namespace { Name = System.Runtime.Remoting.Metadata }
	Namespace { Name = System.Runtime.Remoting.Metadata.W3cXsd2001 }
	Namespace { Name = System.Runtime.Remoting.Messaging }
	Namespace { Name = System.Runtime.ExceptionServices }
	Namespace { Name = System.Runtime.ConstrainedExecution }
	Namespace { Name = System.Runtime.InteropServices }
	Namespace { Name = System.Runtime.InteropServices.WindowsRuntime }
	Namespace { Name = System.Runtime.InteropServices.Expando }
	Namespace { Name = System.Runtime.InteropServices.ComTypes }
	Namespace { Name = System.Runtime.CompilerServices }	
	Namespace { Name = System.Reflection }
	Namespace { Name = System.Reflection.Metadata }
	Namespace { Name = System.Reflection.Emit }
	Namespace { Name = System.Globalization }
	Namespace { Name = System.Diagnostics }
	Namespace { Name = System.Diagnostics.SymbolStore }
	Namespace { Name = System.Diagnostics.Tracing }
	Namespace { Name = System.Diagnostics.Contracts }
	Namespace { Name = System.Diagnostics.Contracts.Internal }
	Namespace { Name = System.Diagnostics.CodeAnalysis }
	Namespace { Name = System.Buffers }
	Namespace { Name = Internal.SharpBgfx }
	Namespace { Name = Internal.SharpBgfx.Common }
	Namespace { Name = ICSharpCode.SharpZipLib }
	Namespace { Name = ICSharpCode.SharpZipLib.Zip }
	Namespace { Name = ICSharpCode.SharpZipLib.Zip.Compression }
	Namespace { Name = ICSharpCode.SharpZipLib.Zip.Compression.Streams }
	Namespace { Name = ICSharpCode.SharpZipLib.Tar }
	Namespace { Name = ICSharpCode.SharpZipLib.Lzw }
	Namespace { Name = ICSharpCode.SharpZipLib.GZip }
	Namespace { Name = ICSharpCode.SharpZipLib.Encryption }
	Namespace { Name = ICSharpCode.SharpZipLib.Core }
	Namespace { Name = ICSharpCode.SharpZipLib.Checksum }
	Namespace { Name = ICSharpCode.SharpZipLib.BZip2 }
	Namespace { Name = System.Windows.Input }
	Namespace { Name = System.Windows.Markup }
	Namespace { Name = System.Timers }
	Namespace { Name = System.ComponentModel.Design }
	Namespace { Name = System.ComponentModel.Design.Serialization }
	Namespace { Name = System.Text.RegularExpressions }
	Namespace { Name = System.Security.Authentication }
	Namespace { Name = System.Security.Authentication.ExtendedProtection }
	Namespace { Name = System.CodeDom.Compiler }
	Namespace { Name = System.Net }
	Namespace { Name = System.Net.Mail }
	Namespace { Name = System.Net.Mime }
	Namespace { Name = System.Net.Sockets }
	Namespace { Name = System.Net.Security }
	Namespace { Name = System.Net.NetworkInformation }
	Namespace { Name = System.Net.Cache }
	Namespace { Name = System.Net.WebSockets }
	Namespace { Name = System.IO.Compression }
	Namespace { Name = Newtonsoft.Json }
	Namespace { Name = Newtonsoft.Json.Serialization }
	Namespace { Name = Newtonsoft.Json.Schema }
	Namespace { Name = Newtonsoft.Json.Linq }
	Namespace { Name = Newtonsoft.Json.Converters }
	Namespace { Name = Newtonsoft.Json.Bson }
	Namespace { Name = Internal.Net3dBool }
	Namespace { Name = Internal.LiteDB }
	Namespace { Name = Internal.LiteDB.Engine }
	Namespace { Name = Lidgren.Network }
	Namespace { Name = Internal.Fbx }
	Namespace { Name = Internal.Xilium.CefGlue }
	Namespace { Name = Internal.Xilium.CefGlue.Wrapper }
	Namespace { Name = Internal.Xilium.CefGlue.Platform.Windows }
	Namespace { Name = Internal.BulletSharp }
	Namespace { Name = Internal.BulletSharp.SoftBody }
	Namespace { Name = Internal.BulletSharp.Math }
	Namespace { Name = System.Drawing }
	Namespace { Name = System.Drawing.Printing }
	Namespace { Name = System.Drawing.Design }
	Namespace { Name = System.Drawing.Configuration }
	Namespace { Name = System.Drawing.Text }
	Namespace { Name = System.Drawing.Imaging }
	Namespace { Name = System.Drawing.Drawing2D }
	Namespace { Name = NeoAxis.Import }
	Namespace { Name = NeoAxis.Properties }
	Namespace { Name = NeoAxis.OggVorbisTheora }
	Namespace { Name = NeoAxis.Widget }
	Namespace { Name = Internal.SharpNav }
	Namespace { Name = Internal.SharpNav.Pathfinding }
	Namespace { Name = Internal.SharpNav.IO }
	Namespace { Name = Internal.SharpNav.IO.Json }
	Namespace { Name = Internal.SharpNav.IO.Binary }
	Namespace { Name = Internal.SharpNav.Geometry }
	Namespace { Name = Internal.SharpNav.Crowds }
	Namespace { Name = Internal.SharpNav.Collections }
	Namespace { Name = Internal.SharpNav.Collections.Generic }
	Namespace { Name = Internal.Assimp }
	Namespace { Name = Internal.Assimp.Unmanaged }
	Namespace { Name = Internal.Assimp.Configs }
	Namespace { Name = Microsoft.Xna.Framework }
	Namespace { Name = Internal.tainicom.Aether.Physics2D }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Fluids }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Dynamics }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Dynamics.Joints }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Dynamics.Contacts }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Diagnostics }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Controllers }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Content }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.TextureTools }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.PolygonManipulation }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.PhysicsLogic }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.Maths }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.Decomposition }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Common.ConvexHull }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Collision }
	Namespace { Name = Internal.tainicom.Aether.Physics2D.Collision.Shapes }
	
	Namespace { Name = System.Runtime.DesignerServices }
	Namespace { Name = Microsoft.VisualBasic }
	Namespace { Name = Microsoft.CSharp }
	Namespace { Name = System.Web }
	Namespace { Name = System.Configuration }
	Namespace { Name = System.Net.Configuration }
	Namespace { Name = System.Media }
	Namespace { Name = System.IO.Ports }
	Namespace { Name = System.Security.Authentication.ExtendedProtection.Configuration }
	Namespace { Name = System.CodeDom }
	Namespace { Name = System.Windows.Forms.VisualStyles }
	Namespace { Name = System.Windows.Forms.PropertyGridInternal }
	Namespace { Name = System.Windows.Forms.Design }
	Namespace { Name = System.Windows.Forms.ComponentModel.Com2Interop }
	Namespace { Name = System.Windows.Forms.Layout }
	Namespace { Name = System.Windows.Forms.Automation }
	
	Namespace { Name = Internal.Aga.Controls }
	Namespace { Name = Internal.Aga.Controls.Properties }
	Namespace { Name = Internal.Aga.Controls.Threading }
	Namespace { Name = Internal.Aga.Controls.Tree }
	Namespace { Name = Internal.Aga.Controls.Tree.NodeControls }
	Namespace { Name = Internal.ComponentFactory.Krypton.Toolkit }
	Namespace { Name = Internal.ComponentFactory.Krypton.Navigator }
	Namespace { Name = Internal.ComponentFactory.Krypton.Ribbon }
	Namespace { Name = Internal.ComponentFactory.Krypton.Workspace }
	Namespace { Name = Internal.ComponentFactory.Krypton.Docking }
	Namespace { Name = Internal.ComponentFactory.Krypton.Toolkit.Properties }
	Namespace { Name = Internal.ComponentFactory.Krypton.Navigator.Properties }
	Namespace { Name = Internal.ComponentFactory.Krypton.Ribbon.Properties }
	Namespace { Name = Internal.ComponentFactory.Krypton.Workspace.Properties }
	Namespace { Name = Internal.ComponentFactory.Krypton.Docking.Properties }
}

CSharpScriptReferenceAssembly { Name = NeoAxis.Core }
CSharpScriptReferenceAssembly { Name = NeoAxis.CoreExtension }
CSharpScriptReferenceAssembly { Name = Project }
CSharpScriptReferenceAssembly { Name = System.Diagnostics.Process }

CSharpScriptUsingNamespace { Value = System }
CSharpScriptUsingNamespace { Value = System.Text }
CSharpScriptUsingNamespace { Value = System.Collections }
CSharpScriptUsingNamespace { Value = System.Collections.Generic }
CSharpScriptUsingNamespace { Value = System.Linq }
CSharpScriptUsingNamespace { Value = System.IO }
CSharpScriptUsingNamespace { Value = NeoAxis }
CSharpScriptUsingNamespace { Value = NeoAxis.Editor }
CSharpScriptUsingNamespace { Value = Project }

PredefinedServer
{
	Address = localhost
	Port = 52000
}
